%nav.navbar.navbar-inverse{role: "navigation"}
  .navbar-header
    %ul.nav.navbar-nav
      - @categories.each do |category|
        %li.dropdown.active
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = category.name
          %ul.dropdown-menu
            - category.sub_categories.each do |subcategory|
              %li
                %a
                  = link_to "#{subcategory.name}", category_products_path(@category)
  / /.navbar-collapse