%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - @categories.each do |category|
      %tr
        %td 
          = category.name
          - category.sub_categories.each do |subcategory|
            %td 
              = subcategory.name