#login, #registration {
	margin-top: 10%;
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  margin-left: 370px;
  > h2 { text-align: center;}
  width: 50%;
  .sign_up_content, .sign_in_content { padding: $padding 0 $padding 80px; }
  .reg_button, .login_button { text-align: center; }
}