.category_show
  %h2 Category Show
  .category_page
    .form-group
      .col-sm-10
        %li
          = @category.name
    = link_to "Back to Index", categories_path, :class => "btn btn-default"
    = link_to "Add Product", new_category_product_path(@category), :class => "btn btn-default"